# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
.vs/

# Logs / env
*.log
npm-debug.log*
yarn-error.log*
.env

# Build artifacts (if any)
dist/
build/

# Packages
node_modules/

# Archives
*.zip
*.crx

